{{ define "main" }}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col p-5">
      <div class="card box-shadow">
        <div class="card-body">
          <h1 class="display-1 text-center">Florida DIY</h1>
          <p class="text-center">After 10 years of watching squatters sit on this domain name, I finally own it again. Back then, all I wanted to do was create a place to learn about the Florida DIY music scene that wasn't locked behind Myspace. These days, I am on a similar path, sharing St. Augustine shows not locked behind Facebook with the <a href="https://stamusic.org" target="_blank">St. Augustine Music Project</a>. It's a lot harder to get people to care now.</p>
          <p class="text-center">- <a href="https://epatr.com">Eric Patrick</a> (treymon)</p>
          
          <div class="text-center py-3"><img src="oldfladiy.png" alt="Florida DIY circa 2008" class=" img-fluid box-shadow"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{{end}}
