{{ define "main" }}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col">
      <div class="card box-shadow">
        <div class="card-body">
          <h1>Florida DIY</h1>
          <p>After 10 years of people squatting this domain name, I finally own it again. Perhaps one day it will rise from the ashes, a relic of what the Internet could have been. In the meantime, check out my <a href="https://stamusic.org" target="_blank">St. Augustine Music Project</a> and my band <a href="https://burl.rocks" target="_blank">Burl</a>.</p>
          <p>- <a href="mailto:treymonfauntre@gmail.com">Treymon Fauntre</a></p>
        </div>
      </div>
    </div>
  </div>
  
</div>

{{end}}
