{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col p-2 p-sm-3 p-md-4 p-lg-5">
      <div class="card box-shadow">
        <div class="card-body">
          <h1 class="display-1 text-center mb-1 mb-sm-2 mb-lg-3 mb-xl-4">Florida DIY</h1>
          <p>Wow. I own <em><a href="https://floridadiy.com">floridadiy.com</a></em> again. It sat in the hands of domain squatters for 10 years, and then one day they just stopped renewing it.</p>
          <p>Back in 2006, when I first created this site, my goal was to build a place where people could learn about Florida shows without having to know someone. At the time, it had become easier to make a bulletin on Myspace rather than put effort into advertising shows. Luckily, a lot of my friends came along to post their shows, and for a few years that goal was achieved.</p>
          <p>Here's a screenshot I found of the message board from 2008:</p>
          
          <div class="text-center pb-4"><img src="oldfladiy.png" alt="Florida DIY message board 2008" class=" img-fluid box-shadow"></div>
            
          <p> So, maybe some day this will be a site again. Facebook has taken over everything, and it's not good. Last year, I created the <a href="https://stamusic.org" target="_blank">St. Augustine Music Project</a> to try to battle that in the city I live in, but I'm a lot busier than I was in my twenties. Anyone want to <a href="mailto:stamusic.org@gmail.com">help</a>?</p>
          <p class="text-right"> &mdash; &nbsp; <a href="https://epatr.com">Eric Patrick</a> (treymon)</p>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

{{end}}
